@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    /* box-sizing: border-box; */
}


body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
    position: relative;
}

.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 11px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.header{
    background-color: rgb(8, 7, 7);
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    justify-content: space-between;
    height: 80px;
}

.header >*{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}

.spotifyPlaylists h1{
    padding: 16px;
}

.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(78, 77, 77);
    cursor: pointer;
    --a:1;
}

.card > *{
    padding-top: 3px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 150px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
} 

.buttons > *{
    margin: 0 12px;
}

.signUpBtn{
    background-color: rgb(8, 7, 7);
    color: rgb(112, 109, 109);
    font-weight: bold;
    /* width: 80px; */
    border: none;
    /* padding: 10px; */
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.signUpBtn:hover{
    font-size: 17px;
    color: white;
}

.logInBtn{
    background-color: white;
    color: black;
    border-radius: 21px;
    font-size: 16px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    border: none;
}
.logInBtn:hover{
    font-size: 17px;
    font-weight: bold;
}

.hamburger{
    display: none;
}

.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    /* width: 90%; */
    background: #dad5df;
    width: 70vw;
    min-height: 40px;
    padding: 12px;
    border-radius: 10px;
}

.songButtons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList{
    height: 644px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info{
    font-size: 13px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 12px;
    width: 64px;
}

.seekbar{
    height: 4px;
    width: 95%;
    border-radius: 10px;
    background:  black;
    position: absolute;
    bottom: 0;
    margin: 10px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 1s all;
}

.songButtons img{
    cursor: pointer;
}

.timeVol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.range input{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger{
    height: 45px;
    width: 60px;
}

.hamburgerContainer{
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.close{
    display: none;
}

@media (max-width:1200px){
    .logo{
        height: 80px;
    }

    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;
    }

    .left .close{  
        display: block;
    }

    .left .close img{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 45px;
    }

    .timeVol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 13px
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100% - 110px);
        margin: 5px 20px;
    }

    .seekbar{
        width: calc(100% - 70px);
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 44vw;
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
    }

    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo, .songtime{
        width: auto;
    }

    .footer{
        font-size: 10px;
    }
}

@media (max-width: 400px){
    .card{
        width: 90vw;
    }
}


@media (max-width: 767px) {
    /* Styles for phones */
    .left {
        width: 70%;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 100vh;
        background-color: black;
        transition: left 0.3s;
        padding: 10px;
    }

    .left.open {
        left: 0;
    }

    .close {
        position: absolute;
        top: -10px;
        right: -20px;
    }

    .hamburger {
        display: block;
        margin: 20px;
    }

    .right {
        width: 100%;
    }

    .playbar {
        width: 86%;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }

    .seekbar{
        margin: 0 6%;
        margin-bottom: 100px;
    }

    .songList {
        height: auto;
        max-height: calc(100vh - 200px);
    }

    .cardContainer {
        margin: 10px;
        justify-content: center;
    }

    .card {
        width: 90vw;
    }

    .nav{
        margin: 0px;
        padding: 0px;
    }

    .nav>.hamburgerContainer img{
        width: 35px;
    }

    .buttons{
        margin: 0px;
        display: flex;
        row-gap: 0px;
    }

}